@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
}

.light {
  --background: #f4f2f1;
  --foreground: #181818;
  --shadow-color: #0003;
  --link-text: #fff;
  --link-background: #805ad5;
  --link-hover: #7046d0;
  --card-link-hover: #2563eb;
  --panel-link-background: #000;
  --panel-link-hover: #2dd4bf;
  --common-text: var(--gray-600);
  --common-border: var(--gray-300);
  --common-bg: var(--gray-200);
}

.dark {
  --background: #09090b;
  --foreground: #eaeaea;
  --shadow-color: #000a;
  --link-text: #000;
  --link-background: #2dd4bf;
  --link-hover: #14b8a6;
  --card-link-hover: #3b82f6;
  --panel-link-background: #000;
  --panel-link-background: #fff;
  --panel-link-hover: #805ad5;
  --common-text: var(--gray-400);
  --common-border: var(--gray-700);
  --common-bg: var(--gray-800);
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

@layer components {
  .container {
    width: calc(100% - 4rem);
  }
}
